PrjDPPhysioImageEditior/Web References/webRefConceptWebDataAccess/ConceptWebDataAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://conceptsoft.co.uk/ConceptWebDataAccess" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://conceptsoft.co.uk/ConceptWebDataAccess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://conceptsoft.co.uk/ConceptWebDataAccess">
      <s:element name="GetHL7Setting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wstrPrefMethod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wstrHL7Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wstrHL7Ver" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wlabType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHL7SettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHL7SettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRadPatListForORM">
        <s:complexType />
      </s:element>
      <s:element name="GetRadPatListForORMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRadPatListForORMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRadPatListForORU">
        <s:complexType />
      </s:element>
      <s:element name="GetRadPatListForORUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRadPatListForORUResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabPatListForORM">
        <s:complexType />
      </s:element>
      <s:element name="GetLabPatListForORMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabPatListForORMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabPatListForADT01">
        <s:complexType />
      </s:element>
      <s:element name="GetLabPatListForADT01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabPatListForADT01Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabPatListForADT08">
        <s:complexType />
      </s:element>
      <s:element name="GetLabPatListForADT08Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabPatListForADT08Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabPatListForMergeADT39">
        <s:complexType />
      </s:element>
      <s:element name="GetLabPatListForMergeADT39Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabPatListForMergeADT39Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRadPatListForMergeADT39">
        <s:complexType />
      </s:element>
      <s:element name="GetRadPatListForMergeADT39Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRadPatListForMergeADT39Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHL7Statistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_whl7type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHL7StatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHL7StatisticsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatLabORMDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wPatVisitID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatLabORMDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatLabORMDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveHL7Setting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wobjParamArray" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveHL7SettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveHL7SettingResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateHL7Status">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wreqNo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_wTestCode" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="_wMsgID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wstatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_wtype" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateHL7StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateHL7StatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmOrderCancellation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_wMsgID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Task" />
      <s:complexType name="TaskOfBoolean">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ConfirmOrderCancellationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmOrderCancellationResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateHL7Statistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wpstrHL7Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrSTATType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateHL7StatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateHL7StatisticsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLabTestStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wpstrVisitCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrRequestID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wTestCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_wstatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_wuserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrTrnsDt" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wtype" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLabTestStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateLabTestStatusResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLabTestResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wpstrVisitCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrRequestID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_wTestCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_wParamCode" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_wuserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrTrnsDt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrResultVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrUnit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrParamNormal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="wdParamHigh" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="wdParamLow" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="wdParamCriHigh" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="wdParamCriLow" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrAbnormalflg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrCriAbnormalflg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLabTestResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateLabTestResultResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRadiologyResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wpstrOrderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrJavaexeCall" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrJavaWebCall" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpstrWebLinkCall" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRadiologyResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRadiologyResultResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientMachineList">
        <s:complexType />
      </s:element>
      <s:element name="GetClientMachineListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientMachineListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMachineConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_wMacID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMachineConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMachineConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatOrderListXT1800">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wstrSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wstrMID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatOrderListXT1800Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatOrderListXT1800Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMachineResultData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wobjParamArray" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveMachineResultDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveMachineResultDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntegrationConfiguration">
        <s:complexType />
      </s:element>
      <s:element name="GetIntegrationConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIntegrationConfigurationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIntReqList">
        <s:complexType />
      </s:element>
      <s:element name="GetIntReqListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIntReqListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIntReqResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_reqID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_reqDNo" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_rType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strReqXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRespXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="byteImageData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIntReqResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateIntReqResponseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnnotationTempletBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTempID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAnnotationTempletBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAnnotationTempletBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatAnnonationDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTempletId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatAnnonationDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatAnnonationDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatAnnonationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTempletId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatAnnonationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePatAnnonationDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHL7SettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetHL7Setting" />
  </wsdl:message>
  <wsdl:message name="GetHL7SettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetHL7SettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForORMSoapIn">
    <wsdl:part name="parameters" element="tns:GetRadPatListForORM" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForORMSoapOut">
    <wsdl:part name="parameters" element="tns:GetRadPatListForORMResponse" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForORUSoapIn">
    <wsdl:part name="parameters" element="tns:GetRadPatListForORU" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForORUSoapOut">
    <wsdl:part name="parameters" element="tns:GetRadPatListForORUResponse" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForORMSoapIn">
    <wsdl:part name="parameters" element="tns:GetLabPatListForORM" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForORMSoapOut">
    <wsdl:part name="parameters" element="tns:GetLabPatListForORMResponse" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForADT01SoapIn">
    <wsdl:part name="parameters" element="tns:GetLabPatListForADT01" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForADT01SoapOut">
    <wsdl:part name="parameters" element="tns:GetLabPatListForADT01Response" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForADT08SoapIn">
    <wsdl:part name="parameters" element="tns:GetLabPatListForADT08" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForADT08SoapOut">
    <wsdl:part name="parameters" element="tns:GetLabPatListForADT08Response" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForMergeADT39SoapIn">
    <wsdl:part name="parameters" element="tns:GetLabPatListForMergeADT39" />
  </wsdl:message>
  <wsdl:message name="GetLabPatListForMergeADT39SoapOut">
    <wsdl:part name="parameters" element="tns:GetLabPatListForMergeADT39Response" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForMergeADT39SoapIn">
    <wsdl:part name="parameters" element="tns:GetRadPatListForMergeADT39" />
  </wsdl:message>
  <wsdl:message name="GetRadPatListForMergeADT39SoapOut">
    <wsdl:part name="parameters" element="tns:GetRadPatListForMergeADT39Response" />
  </wsdl:message>
  <wsdl:message name="GetHL7StatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHL7Statistics" />
  </wsdl:message>
  <wsdl:message name="GetHL7StatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHL7StatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatLabORMDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatLabORMDetails" />
  </wsdl:message>
  <wsdl:message name="GetPatLabORMDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatLabORMDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveHL7SettingSoapIn">
    <wsdl:part name="parameters" element="tns:SaveHL7Setting" />
  </wsdl:message>
  <wsdl:message name="SaveHL7SettingSoapOut">
    <wsdl:part name="parameters" element="tns:SaveHL7SettingResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateHL7StatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateHL7Status" />
  </wsdl:message>
  <wsdl:message name="UpdateHL7StatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateHL7StatusResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderCancellationSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmOrderCancellation" />
  </wsdl:message>
  <wsdl:message name="ConfirmOrderCancellationSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmOrderCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateHL7StatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateHL7Statistics" />
  </wsdl:message>
  <wsdl:message name="UpdateHL7StatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateHL7StatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLabTestStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLabTestStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateLabTestStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLabTestStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLabTestResultSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLabTestResult" />
  </wsdl:message>
  <wsdl:message name="UpdateLabTestResultSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLabTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRadiologyResultSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRadiologyResult" />
  </wsdl:message>
  <wsdl:message name="UpdateRadiologyResultSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRadiologyResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientMachineListSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientMachineList" />
  </wsdl:message>
  <wsdl:message name="GetClientMachineListSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientMachineListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMachineConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetMachineConfig" />
  </wsdl:message>
  <wsdl:message name="GetMachineConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetMachineConfigResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatOrderListXT1800SoapIn">
    <wsdl:part name="parameters" element="tns:GetPatOrderListXT1800" />
  </wsdl:message>
  <wsdl:message name="GetPatOrderListXT1800SoapOut">
    <wsdl:part name="parameters" element="tns:GetPatOrderListXT1800Response" />
  </wsdl:message>
  <wsdl:message name="SaveMachineResultDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMachineResultData" />
  </wsdl:message>
  <wsdl:message name="SaveMachineResultDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMachineResultDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetIntegrationConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:GetIntegrationConfiguration" />
  </wsdl:message>
  <wsdl:message name="GetIntegrationConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntegrationConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="GetIntReqListSoapIn">
    <wsdl:part name="parameters" element="tns:GetIntReqList" />
  </wsdl:message>
  <wsdl:message name="GetIntReqListSoapOut">
    <wsdl:part name="parameters" element="tns:GetIntReqListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIntReqResponseSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIntReqResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIntReqResponseSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIntReqResponseResponse" />
  </wsdl:message>
  <wsdl:message name="GetAnnotationTempletBase64SoapIn">
    <wsdl:part name="parameters" element="tns:GetAnnotationTempletBase64" />
  </wsdl:message>
  <wsdl:message name="GetAnnotationTempletBase64SoapOut">
    <wsdl:part name="parameters" element="tns:GetAnnotationTempletBase64Response" />
  </wsdl:message>
  <wsdl:message name="GetPatAnnonationDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatAnnonationDetails" />
  </wsdl:message>
  <wsdl:message name="GetPatAnnonationDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatAnnonationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatAnnonationDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatAnnonationData" />
  </wsdl:message>
  <wsdl:message name="UpdatePatAnnonationDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatAnnonationDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ConceptWebDataAccessSoap">
    <wsdl:operation name="GetHL7Setting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with HL7 setting Details</wsdl:documentation>
      <wsdl:input message="tns:GetHL7SettingSoapIn" />
      <wsdl:output message="tns:GetHL7SettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with Patient Pending for PACS Order ORM creation</wsdl:documentation>
      <wsdl:input message="tns:GetRadPatListForORMSoapIn" />
      <wsdl:output message="tns:GetRadPatListForORMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORU">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Radiology ORU creation</wsdl:documentation>
      <wsdl:input message="tns:GetRadPatListForORUSoapIn" />
      <wsdl:output message="tns:GetRadPatListForORUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForORM">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Laboratory ORM creation</wsdl:documentation>
      <wsdl:input message="tns:GetLabPatListForORMSoapIn" />
      <wsdl:output message="tns:GetLabPatListForORMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT01">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Laboratory ADT^A01 creation</wsdl:documentation>
      <wsdl:input message="tns:GetLabPatListForADT01SoapIn" />
      <wsdl:output message="tns:GetLabPatListForADT01SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT08">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Laboratory ADT^A08 creation</wsdl:documentation>
      <wsdl:input message="tns:GetLabPatListForADT08SoapIn" />
      <wsdl:output message="tns:GetLabPatListForADT08SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForMergeADT39">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Laboratory ADT^A39 creation</wsdl:documentation>
      <wsdl:input message="tns:GetLabPatListForMergeADT39SoapIn" />
      <wsdl:output message="tns:GetLabPatListForMergeADT39SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForMergeADT39">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with patients pending for Laboratory ADT^A39 creation</wsdl:documentation>
      <wsdl:input message="tns:GetRadPatListForMergeADT39SoapIn" />
      <wsdl:output message="tns:GetRadPatListForMergeADT39SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHL7Statistics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with HL7 messages sent/receive statistics</wsdl:documentation>
      <wsdl:input message="tns:GetHL7StatisticsSoapIn" />
      <wsdl:output message="tns:GetHL7StatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatLabORMDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with ORM Details for a visit</wsdl:documentation>
      <wsdl:input message="tns:GetPatLabORMDetailsSoapIn" />
      <wsdl:output message="tns:GetPatLabORMDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveHL7Setting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while saving HL7 setting Details</wsdl:documentation>
      <wsdl:input message="tns:SaveHL7SettingSoapIn" />
      <wsdl:output message="tns:SaveHL7SettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Status">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating HL7 status</wsdl:documentation>
      <wsdl:input message="tns:UpdateHL7StatusSoapIn" />
      <wsdl:output message="tns:UpdateHL7StatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrderCancellation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating HL7 status</wsdl:documentation>
      <wsdl:input message="tns:ConfirmOrderCancellationSoapIn" />
      <wsdl:output message="tns:ConfirmOrderCancellationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Statistics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating HL7 Statistics</wsdl:documentation>
      <wsdl:input message="tns:UpdateHL7StatisticsSoapIn" />
      <wsdl:output message="tns:UpdateHL7StatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating Laboratory Test status</wsdl:documentation>
      <wsdl:input message="tns:UpdateLabTestStatusSoapIn" />
      <wsdl:output message="tns:UpdateLabTestStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating Laboratory Test Result Value</wsdl:documentation>
      <wsdl:input message="tns:UpdateLabTestResultSoapIn" />
      <wsdl:output message="tns:UpdateLabTestResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRadiologyResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while updating Radiology Test Result Value</wsdl:documentation>
      <wsdl:input message="tns:UpdateRadiologyResultSoapIn" />
      <wsdl:output message="tns:UpdateRadiologyResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientMachineList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with List of all the Active analyzer present in Client DB</wsdl:documentation>
      <wsdl:input message="tns:GetClientMachineListSoapIn" />
      <wsdl:output message="tns:GetClientMachineListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineConfig">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with Specific machine configuation</wsdl:documentation>
      <wsdl:input message="tns:GetMachineConfigSoapIn" />
      <wsdl:output message="tns:GetMachineConfigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatOrderListXT1800">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with Patient Order Pending for process in XT1800</wsdl:documentation>
      <wsdl:input message="tns:GetPatOrderListXT1800SoapIn" />
      <wsdl:output message="tns:GetPatOrderListXT1800SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMachineResultData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected on save of Mahcine Data In Temp Machine</wsdl:documentation>
      <wsdl:input message="tns:SaveMachineResultDataSoapIn" />
      <wsdl:output message="tns:SaveMachineResultDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIntegrationConfiguration">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with List of all the configuration for Integration</wsdl:documentation>
      <wsdl:input message="tns:GetIntegrationConfigurationSoapIn" />
      <wsdl:output message="tns:GetIntegrationConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIntReqList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with List of all the new requests</wsdl:documentation>
      <wsdl:input message="tns:GetIntReqListSoapIn" />
      <wsdl:output message="tns:GetIntReqListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIntReqResponse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected while update employees Details Request</wsdl:documentation>
      <wsdl:input message="tns:UpdateIntReqResponseSoapIn" />
      <wsdl:output message="tns:UpdateIntReqResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnotationTempletBase64">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return string base64 for Image templet</wsdl:documentation>
      <wsdl:input message="tns:GetAnnotationTempletBase64SoapIn" />
      <wsdl:output message="tns:GetAnnotationTempletBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatAnnonationDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return XML document with Patient annotation details</wsdl:documentation>
      <wsdl:input message="tns:GetPatAnnonationDetailsSoapIn" />
      <wsdl:output message="tns:GetPatAnnonationDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatAnnonationData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">return no of rows affected by update for annotation</wsdl:documentation>
      <wsdl:input message="tns:UpdatePatAnnonationDataSoapIn" />
      <wsdl:output message="tns:UpdatePatAnnonationDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConceptWebDataAccessSoap" type="tns:ConceptWebDataAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHL7Setting">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetHL7Setting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORM">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForORM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORU">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForORU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForORM">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForORM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT01">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForADT01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT08">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForADT08" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForMergeADT39">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForMergeADT39" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForMergeADT39">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForMergeADT39" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHL7Statistics">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetHL7Statistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatLabORMDetails">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatLabORMDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHL7Setting">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/SaveHL7Setting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Status">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateHL7Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrderCancellation">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/ConfirmOrderCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Statistics">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateHL7Statistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestStatus">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateLabTestStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestResult">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateLabTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRadiologyResult">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateRadiologyResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMachineList">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetClientMachineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineConfig">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetMachineConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatOrderListXT1800">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatOrderListXT1800" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMachineResultData">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/SaveMachineResultData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegrationConfiguration">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetIntegrationConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntReqList">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetIntReqList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIntReqResponse">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateIntReqResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnotationTempletBase64">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetAnnotationTempletBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatAnnonationDetails">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatAnnonationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatAnnonationData">
      <soap:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdatePatAnnonationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConceptWebDataAccessSoap12" type="tns:ConceptWebDataAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHL7Setting">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetHL7Setting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORM">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForORM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForORU">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForORU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForORM">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForORM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT01">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForADT01" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForADT08">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForADT08" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabPatListForMergeADT39">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetLabPatListForMergeADT39" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadPatListForMergeADT39">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetRadPatListForMergeADT39" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHL7Statistics">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetHL7Statistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatLabORMDetails">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatLabORMDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHL7Setting">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/SaveHL7Setting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Status">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateHL7Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrderCancellation">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/ConfirmOrderCancellation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHL7Statistics">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateHL7Statistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestStatus">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateLabTestStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLabTestResult">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateLabTestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRadiologyResult">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateRadiologyResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientMachineList">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetClientMachineList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineConfig">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetMachineConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatOrderListXT1800">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatOrderListXT1800" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMachineResultData">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/SaveMachineResultData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntegrationConfiguration">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetIntegrationConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntReqList">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetIntReqList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIntReqResponse">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdateIntReqResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnotationTempletBase64">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetAnnotationTempletBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatAnnonationDetails">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/GetPatAnnonationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatAnnonationData">
      <soap12:operation soapAction="https://conceptsoft.co.uk/ConceptWebDataAccess/UpdatePatAnnonationData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConceptWebDataAccess">
    <wsdl:port name="ConceptWebDataAccessSoap" binding="tns:ConceptWebDataAccessSoap">
      <soap:address location="http://10.1.82.76/conceptws/ConceptWebDataAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="ConceptWebDataAccessSoap12" binding="tns:ConceptWebDataAccessSoap12">
      <soap12:address location="http://10.1.82.76/conceptws/ConceptWebDataAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>